<h1>Show Article</h1>

<ul>
  <li>
  Title: <%= @article.title %>
  </li>
  <li>  Description: <%= @article.description %></li>
</ul>
<p><%= link_to "Listing Articles", articles_path(@article) %></p>
