<div class="container">
  <h1>New Categories</h1>



  <% if @category.errors.any? %>

  <h1><%=  pluralize(@category.errors.count, "error") %> proibhith any error veja abaixo:</h1>


  <ul>
  <%=  @category.errors.full_messages.each do |messager| %>

  <li><%= messager %></li>
    <% end %>
  </ul>

  <% end %>

  <%= render "form" %>
</div>
