
  <p><% flash.each do |name,msg| %></p>
  <div class="container">
    <div class="alert alert-success">
    <ul>
      <li><%= msg %></li>
      <li><%= name %></li>
    </ul>
  </div>

  </div>
  <% end %>
